#saveButton {
    -fx-background-image: url("save.png");
}

#cancelButton {
    -fx-background-image: url("cancel.png");
}

#editButton {
    -fx-background-image: url("edit.png");
}

#deleteButton {
    -fx-background-image: url("delete.png");
}