[Desktop Entry]
Name={CodeStore}
Comment=Developer tool for managing code snippets
Exec=codestore
Icon=icon.png
Terminal=false
Type=Application
Categories=Development;Utility;