@use "../../colors";

#createSnippet {
    -fx-background-image: url("addSnippet.png");
}

#list {
    .list-cell {
        &:filled:selected {
            -fx-background-color: colors.$selectionColor;
        }

        &:filled:selected {
            -fx-background: -fx-control-inner-background;
        }

        &:odd:filled:selected {
            -fx-background: -fx-control-inner-background-alt;
        }
    }
}