@use "sass:color";

$codeStoreBlue: #00BFFF;

$primaryBackgroundColor: $codeStoreBlue;
$secondaryBackgroundColor: #FFFFFF;

$primaryTextColor: #FFFFFF;
$secondaryTextColor: #323232;

$borderColor: #CCC;
$borderColorSelection: $codeStoreBlue;

$selectionColor: color.change($codeStoreBlue, $alpha: 0.2);