@use "colors";
@use "size";

.primaryBackground {
    -fx-background-color: colors.$primaryBackgroundColor;
    -fx-text-fill: colors.$primaryTextColor;
}

.secondaryBackground {
    -fx-background-color: colors.$secondaryBackgroundColor;
    -fx-text-fill: colors.$secondaryTextColor;
}

.primaryPadding {
    -fx-padding: size.$primaryPadding;
}

.primarySpacing {
    -fx-spacing: size.$primaryPadding;
}

.bordered {
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: colors.$borderColor;
}

/* remove shadow and focus-shadow of inputs */
.text-field, .text-area, .text-area .content {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

/* Show input placeholder even when input is focused */
.text-field, .text-field:focused,
.text-area, .text-area:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}