@use "colors";
@use "size";

.primaryBackground {
    -fx-background-color: colors.$primaryBackgroundColor;
    -fx-text-fill: colors.$primaryTextColor;
}

.secondaryBackground {
    -fx-background-color: colors.$secondaryBackgroundColor;
    -fx-text-fill: colors.$secondaryTextColor;
}

.primaryPadding {
    -fx-padding: size.$primaryPadding;
}

.primarySpacing {
    -fx-spacing: size.$primaryPadding;
}

.secondarySpacing {
    -fx-spacing: size.$secondaryPadding;
}

.bordered {
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-border-width: size.$borderSize;
    -fx-border-style: solid;
    -fx-border-color: colors.$borderColor;

    &.selectable:hover {
        -fx-border-color: colors.$borderColorSelection;
    }
}

// remove border, shadow and focus-shadow of inputs
.text-field, .text-area, .text-area .content {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

// Show input placeholder even when input is focused
.text-field, .text-field:focused,
.text-area, .text-area:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

// remove default border fom JavaFX elements
.text-field,
.text-area,
.list-view, .list-view .list-cell {
    -fx-background-insets: 0;
}

// Dropdown menu
.combo-box {
    @extend .bordered;
    @extend .selectable;

    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-pref-height: size.$secondaryElementSize;
    -fx-max-height: size.$secondaryElementSize;

    .arrow-button .arrow {
        -fx-shape: "M 0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17 z";
        -fx-scale-x: 1.5;
        -fx-scale-y: 1.5;
        -fx-background-color: colors.$secondaryTextColor;
    }

    > .list-cell {
        -fx-padding: 0 8 0 8;
    }

    .list-view .list-cell:hover,
    .list-view .list-cell:filled:selected {
        -fx-background-color: colors.$selectionColor;
        -fx-text-fill: colors.$secondaryTextColor;
    }
}

.text-field {
    -fx-pref-height: size.$secondaryElementSize;
    -fx-max-height: size.$secondaryElementSize;
    -fx-padding: 0;
}
