@use "sass:math";

$windowWidth: 1100px;
$windowHeight: 700px;

$borderSize: 1px;

$primaryPadding: 10px;
$secondaryPadding: math.div($primaryPadding, 2);

$primaryElementSize: 30px;
$secondaryElementSize: 22px;
$primaryContentSize: 24px;
$secondaryContentSize: 16px;
