@use "sass:math";

$windowWidth: 1100px;
$windowHeight: 700px;

$primaryPadding: 10px;
$secondaryPadding: math.div($primaryPadding, 2);

$primaryElementSize: 30px;
$SecondaryElementSize: 22px;
$PrimaryContentSize: 24px;
$SecondaryContentSize: 16px;
