@use "sass:math";

$windowWidth: 1100px;
$windowHeight: 700px;

$borderSize: 1px;

$primaryPadding: 10px;
$secondaryPadding: math.div($primaryPadding, 2);

$primaryElementSize: 30px;
$secondaryElementSize: 22px;
$primaryContentSize: 24px;
$secondaryContentSize: 16px;

@mixin fixed-size($size)
{
    @include fixed-width($size);
    @include fixed-height($size);
}

@mixin fixed-width($width)
{
    -fx-pref-width: $width;
    -fx-min-width: $width;
    -fx-max-width: $width;
}

@mixin fixed-height($height)
{
    -fx-pref-height: $height;
    -fx-min-height: $height;
    -fx-max-height: $height;
}
